__pycache__/
*.pyc
*.egg-info/
dist/
build/
*.log
demo_output/
edge_test/
final_test/
full_test/
full_test_28/
full_va_test/
multi_test/
screenshots/
screenshots_test/
test_custom_cif/
final_screenshots/
final_screenshots_v2/
hd_screenshots/
*.html
*.mvsj
geckodriver.log
# Allow images in the images/ directory
*.png
!images/*.png
